$background-color: #f1f1f1;
$primary-color: #362c8a;
$secondary-color: #c22229;
$primary-color-text: #686868;
$primary-font: 'Inter', san-serif;
$shadow-color: #a1a1a14f;
$color-text-alternative: #f9ffff;
$orange-default: #fb5900;
$color-slider-first: rgb(251, 89, 0);
$color-slider-final: rgb(83, 83, 82);
$color-shadow-orange: rgba(255,120,78,0.85);